@import '../../helpers/css-variables.css';

.main-nav {
    font-size: 1.4rem;
}

.main-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 87px 14px 29px;
    background-color: black;
    color: white;
    margin-bottom: 0;
}

.main-nav a {
    color: white;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10.5px;
}
.header-logo p {
    color: var(--primary-color);
    margin: 0;
}

/* Rules for mobile */
@media all and (max-width: 700px) {
    .main-nav ul {
        justify-content: space-between;
        padding: 18px 43.5px 14px 14.5px;
    }
    .header-logo {
        flex-direction: column;
        gap: 0;
    }
    .header-logo img {
        transform: scale(0.7);
    }
    .main-nav {
        font-size: 0.625rem;
    }
    .main-nav ul {
        gap: 15px;
    }
}
