.stat {
    display: grid;
    grid-auto-columns: 1fr 1fr 1fr 0.5fr;
    grid-template-areas:
        'ActivityGraph        ActivityGraph   ActivityGraph   NutritionInfo'
        'SessionLengthGraph   SkillsGraph     ScoreGraph      NutritionInfo';
    padding: 10px;
    gap: 15px;
}

/* Rules for smaller screens */
@media all and (max-width: 900px) {
    .stat {
        grid-template-areas:
            'ActivityGraph        ActivityGraph   ActivityGraph '
            'SessionLengthGraph   SkillsGraph        ScoreGraph'
            'NutritionInfo     NutritionInfo     NutritionInfo ';
    }
}

/* Rules for mobile */
@media all and (max-width: 700px) {
    .stat {
        grid-template-areas:
            'ActivityGraph        ActivityGraph '
            'SessionLengthGraph        SessionLengthGraph '
            'SkillsGraph        SkillsGraph '
            'ScoreGraph        ScoreGraph '
            'NutritionInfo     NutritionInfo      ';
    }
}
