.nutrition-item {
    display: flex;
    align-items: center;
    padding: 32px 51px 32px 32px;
    gap: 24px;
    background-color: #fbfbfb;
    border-radius: 5px;
}

.nutrition-item__icon {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    padding: 21px;
}

.nutrition-item__values {
    font-weight: bold;
    margin-bottom: 0;
    color: #282d30;
}

.nutrition-item__type {
    margin-top: 4px;
    color: #74798c;
}

/* Support for 1024x780 screens */
@media all and (max-width: 1024px) {
    .nutrition-item {
        padding: 16px 25.5px 16px 16px;
    }
}
