.profile-content {
    margin-left: 200px;
    margin-right: 90px;
    width: 100%;
}
.loading-message {
    font-size: 50px;
}

.stat {
    display: grid;
    grid-template-areas:
        'ActivityGraph        ActivityGraph   ActivityGraph   NutritionInfo'
        'SessionLengthGraph   SkillsGraph     ScoreGraph      NutritionInfo';
    padding: 10px;
    gap: 15px;
}

/* Support for 1024x780 screens */
@media all and (max-width: 1024px) {
    .profile-content {
        margin-left: 150px;
        margin-right: 22.5px;
        width: 100%;
    }
}
