/** 
* * Note : I used padding-bottom to manage the size of the graphs in order to deal with an issue with the resizing performances of the graph.
* * Read more on this issue : https://github.com/recharts/recharts/issues/1767 
* * and this one : https://github.com/recharts/recharts/issues/172  
*/

.activity-graph {
    grid-area: ActivityGraph;
    width: auto;
    height: 320px;
    padding-bottom: 320px;

    background-color: #fbfbfb;
    border-radius: 5px;
}

.session-length-graph {
    max-width: 258px;
    height: 263px;
    padding-bottom: 263px;
    grid-area: SessionLengthGraph;
    align-self: flex-end;

    background-color: #ff0000;
    border-radius: 5px;
}

.skills-graph {
    max-width: 258px;
    height: 263px;
    padding-bottom: 263px;
    grid-area: SkillsGraph;
    align-self: flex-end;

    background-color: #282d30;
    border-radius: 5px;
}

.score-graph {
    max-width: 258px;
    height: 263px;
    padding-bottom: 263px;
    grid-area: ScoreGraph;
    align-self: flex-end;

    background-color: #fbfbfb;
    border-radius: 5px;
}

/* RESPONSIVE RULES */

/* Rules for larger screens */
@media all and (min-width: 1400px) {
    .session-length-graph,
    .skills-graph,
    .score-graph {
        max-width: unset;
        padding-left: 100%;
        height: auto;
    }
}

/* Rules for smaller screens */
@media all and (max-width: 900px) {
    .session-length-graph,
    .skills-graph,
    .score-graph {
        max-width: unset;
        width: 100%;
        height: 200px;
        padding-bottom: 200px;
    }
}

@media all and (max-width: 750px) {
    .activity-graph {
        height: 100%;
        padding-bottom: 100%;
    }
}
