.activity-graph {
    grid-area: ActivityGraph;
    width: auto;
    height: 320px;

    background-color: #fbfbfb;
    border-radius: 5px;
}

.session-length-graph {
    width: 258px;
    height: 263px;
    grid-area: SessionLengthGraph;

    background-color: #ff0000;
    border-radius: 5px;
}

.skills-graph {
    width: 258px;
    height: 263px;
    grid-area: SkillsGraph;

    background-color: #282d30;
    border-radius: 5px;
}

.score-graph {
    width: 258px;
    height: 263px;
    grid-area: ScoreGraph;

    background-color: #fbfbfb;
    border-radius: 5px;
}

/* RESPONSIVE RULES */

/* Rules for larger screens */
@media all and (min-width: 1400px) {
    .session-length-graph,
    .skills-graph,
    .score-graph {
        width: auto;
        height: auto;
    }
}

/* Rules for smaller screens */
@media all and (max-width: 900px) {
    .session-length-graph,
    .skills-graph,
    .score-graph {
        width: 100%;
        height: 200px;
    }
}
