.secondary-navigation {
    top: 0;
    z-index: -1;
    padding-top: 79px;
    position: fixed;
    background-color: black;
    width: 117px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.secondary-navigation__item {
    background-color: white;
    width: 64px;
    height: 64px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.secondary-navigation p {
    color: white;
    margin-top: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 0.625rem;
    margin-bottom: 8px;
}

@media all and (max-width: 700px) {
    .secondary-navigation {
        flex-direction: row;
        width: 100%;
        height: 50px;
        top: unset;
        bottom: 0;
        z-index: 1;
        padding-top: 0;
    }
    .secondary-navigation nav {
        width: 100%;
    }
    .secondary-navigation__item {
        width: 32px;
        height: 32px;
        margin-bottom: 0;
    }
    .secondary-navigation__item img {
        width: 16px;
        height: 16px;
    }
    .secondary-navigation ul {
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
    }
    .secondary-navigation p {
        display: none;
    }
}
